$white: #FEFEFF;
$green: #ACBFA4;
$black: #000F08;
$red: #EE3F1D;
$orange: #F37D1D;

$primary: $green;
$warning: $orange;
$danger: $red;

$family-primary: 'Inter', 'sans-serif';
$family-secondary: 'Space Mono', 'monospace';

@import 'bulma/bulma.sass';

body {
    padding-top: 4.5rem;
}

.navbar.is-top {
    z-index: 35;
}

.navbar-item,
.panel-heading {
    font-family: $family-secondary;
}

.is-full-height {
    min-height: calc(100vh - 15rem);
}

.table td,
.table th {
    vertical-align: middle;
}

.multiselect-container {
    .chip {
        background: $warning;
    }

    .searchWrapper {
        border: none;
        padding: 0;
    }

    #search_input {
        @extend .input
    }
}
